body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100vw;
}

#sim{
    width: 150px; ;
    height: 130px; ;
    
}
#header{
    background-color: rgb(162, 104, 216);
    color: blanchedalmond;
    width: 98vw;
}

#posicionamentoH1{
    position: absolute;
    top: 6px;
    left: 35vw;
}
    li{

        display: inline;
        text-decoration: none;  
     
    
      }
      
    
      li a {
        color: purple;
        padding: 14px 16px;
       
        text-decoration: none;
        
      }
    
      a{
        margin-left: 50px;
      }
      
      a:hover {
        color: violet;
        
      }
      #menu {
        font-size: 25px;
        margin-top: -2px;
        height: 30px;
        width:97vw;
        text-align: center;
        list-style: none;
        background-color: wheat;
        padding: 10px;
    
        
      }
      body{
        background-color: blueviolet;
        color: bisque;
      }
      
        
#posicionamentoh12{
  position: absolute ;
  bottom: -25vh;
  left: 31vw;
}
#qrcode{
  width: 150px;
  height: 150px;
}
#massa{
  width: 150px;
  height: 130px;
}

footer{
  background-color: blueviolet;
  }
  
